@import "../Variables.scss";
.card {
  margin: 2rem 2rem 0;
  width: 220px;
  height: 350px;
  background-color: #fff;
  border: 3px solid #000;
  border-radius: 12px;

  img {
    width: 216px;
    height: 180px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .container {
    padding: 2px 16px;

    h1 {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }

    p {
      margin-bottom: 1rem;
    }
  }
}
